@import '_globals.scss';
.textfieldGroup {
	position: relative;
	margin-bottom: 45px;
	margin-top: 20px;
}
.textfield {
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid $color_default;
}
.textfield:focus {
	outline: none;
}

/* LABEL ======================================= */
.textfieldLabel {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.textfield:focus ~ .textfieldLabel,
.textfield:valid ~ .textfieldLabel {
	top: -20px;
	font-size: 14px;
	color: $color_primary;
}

/* BOTTOM BARS ================================= */
.textfieldBar {
	position: relative;
	display: block;
	width: 320px;
}
.textfieldBar:before,
.textfieldBar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: $color_primary;
	transition: 0.2s ease all;
}
.textfieldBar:before {
	left: 50%;
}
.textfieldBar:after {
	right: 50%;
}

/* active state */
.textfield:focus ~ .textfieldBar:before,
.textfield:focus ~ .textfieldBar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.textfieldHighlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
.textfield:focus ~ .textfieldHighlight {
	animation: inputHighlighter 0.3s ease;
	// background-color: $color_primary;
	// width: 0;
}
@keyframes inputHighlighter {
	from {
		background: $color_primary;
	}
	to {
		width: 0;
		background: transparent;
	}
}
// .textfieldDefaultVariant {
// 	// background-color: $color_default;
// 	background-color: $color_primary;

// 	color: #333;
// 	&:hover {
// 		background-color: darken($color_default, 10%);
// 	}
// }
