@import '_globals.scss';

.header {
	border-radius: 5px;
}
.appRoot {
	transition: all 1.5 ease;
	filter: blur(10px);
}
.modalPortal {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	min-width: 100vw;
	z-index: 1000;
}
.modalBackdrop {
	z-index: -1;
	height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #333;
	opacity: 0.5;
}
.modalContainer {
	display: flex;
	flex: 1 1;
	place-self: center;
	flex-flow: column nowrap;
	margin: 0 auto;
	max-width: min(80vw, 800px);
	max-height: 80vh;
	height: max-content;
	border-radius: $cornerRadius;
	background-color: #fff;
	color: #333;
	flex-grow: 1;
	flex-shrink: 1;
}
.modalHeader {
	border-top-left-radius: $cornerRadius;
	border-top-right-radius: $cornerRadius;
	background-color: #ccc;
	padding: 10px;
}
.modalContent {
	background-color: #fff;
	flex-grow: 1;
	flex-shrink: 1;
	height: max-content;
	padding: 10px;
}
.modalFooter {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	border-bottom-left-radius: $cornerRadius;
	border-bottom-right-radius: $cornerRadius;
	background-color: #ccc;
	padding: 10px;
}
