$color-background-default: #fff;
$color-default: #d5d5d5;
$color-default-contrast: #1d1d1d;

$color-primary: #6a2c91;
$color-primary-contrast: #fff;

$color-secondary: #0877be;
$color-secondary-contrast: #fff;

$color-info: #0072bc;
$color-success: #2e7d32;
$color-warning: #ed6d23;
$color-error: #c52a29;
