@import '_globals.scss';

$width: 620px;
$padding: 10px;
.textareaGroup {
	position: relative;
	margin-bottom: 45px;
	margin-top: 20px;
}
.textarea {
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	display: block;
	width: calc($width - $padding - $padding);
	height: 100px;
	border: none;
	background-color: lighten($color_app_background, 20%);
	border-radius: $cornerRadius;
	resize: none;
}
.textarea:focus {
	outline: none;
}

/* LABEL ======================================= */
.textareaLabel {
	color: #ccc;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.textarea:focus ~ .textareaLabel,
.textarea:valid ~ .textareaLabel {
	top: -20px;
	font-size: 14px;
	color: $color_primary;
}

/* BOTTOM BARS ================================= */
.textareaBar {
	position: relative;
	display: block;
	width: $width;
}
.textareaBar:before,
.textareaBar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: $color_primary;
	transition: 0.2s ease all;
}
.textareaBar:before {
	left: 50%;
}
.textareaBar:after {
	right: 50%;
}

/* active state */
.textarea:focus ~ .textareaBar:before,
.textarea:focus ~ .textareaBar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.textareaHighlight {
	position: absolute;
	height: 100%;
	// background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
	background: transparent;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

/* active state */
.textarea:focus ~ .textareaHighlight {
	animation: textareaighlighter 0.3s ease;
}
@keyframes textareaighlighter {
	0% {
		background: transparent;
		opacity: 0;
		width: 0;
	}
	50% {
		background: rgba(255, 255, 255, 0.1);
		opacity: 1;
		width: $width;
	}
	100% {
		width: 0;
		opacity: 0;
	}
}
